:root {
  --first: #ececec;
  --blue: #2196f3;
  --dark: #212121;
  --black: #000000;
  --grey: #757575;
  --white: #ffffff;
  --second: #2f303a;
  --third: #f5f4fa;
  --fourth: #eeeeee;
  --lightgray: #afb1b8;
  --title: rgba(47, 48, 58, 0.4);
  --shadowbox: rgba(0, 0, 0, 0.15);
  --foot: rgba(255, 255, 255, 0.6);
  --shadowport1: rgba(0, 0, 0, 0.1);
  --shadowport2: rgba(0, 0, 0, 0.08);
  --shadowport3: rgba(0, 0, 0, 0.12);
  --workcard: rgba(47, 48, 58, 0.8);
  --modalbord: rgba(33, 33, 33, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1600px;
  color: var(--dark);
  font-size: 16px;
  font-family: "Roboto", "Raleway", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: auto;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team {
  padding: 94px;
  background: var(--third);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    padding: 0px;
  }
  .section-team {
    max-width: 480px;
    padding: 0px;
  }
}
.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  justify-content: left;
}
.page-header__list a:hover, .page-header__list a:focus, .page-header__adrlist a:hover, .page-header__adrlist a:focus, .page-header__adrlist a:focus svg, .page-header__adrlist a:hover svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__list {
  display: flex;
  padding-left: 93px;
  list-style: none;
}

.page-header__list a {
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style: none;
}

.page-header__list--color {
  padding-right: 46px;
}
.page-header__list--color:hover, .page-header__list--color:focus {
  color: var(--blue);
}

.page-header__adrlist:hover {
  color: var(--blue);
}

.page-header__adrlist {
  padding-left: 50px;
}

.page-header__adrlist a:hover svg,
.page-header__adrlist a:focus svg {
  fill: var(--blue);
}

.page-header__adrlist {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.page-header__adrlist a {
  font-weight: 500;
  color: var(--grey);
  text-decoration: none;
  font-size: 14px;
}

.page-header__email {
  width: 26px;
  height: 12px;
  padding-right: 10px;
  fill: var(--grey);
}

.page-header__smartphone {
  padding-right: 10px;
  fill: var(--grey);
  width: 20px;
  height: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header__adrlist {
    display: none;
  }
  .page-header__list {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header {
    height: 60px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--blue);
}
.logo--dark {
  color: var(--black);
}
.logo--light {
  color: var(--white);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    padding-left: 15px;
  }
}

.borderbottom {
  border-bottom: 1px solid var(--first);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .borderbottom {
    height: 60px;
  }
}

.bottomline {
  position: relative;
}
.bottomline::after {
  content: "";
  height: 4px;
  background: var(--blue);
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  text-transform: uppercase;
  width: 100%;
  left: 0;
}

.main-logo {
  background-image: linear-gradient(var(--title), var(--title)), url(../images/people.jpg);
  padding: 94px;
  background-color: var(--second);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-logo__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 0px;
  margin-bottom: 30px;
  padding-top: 104px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-logo__text {
    font-size: 22px;
    padding-top: 10px;
    margin-left: 0px;
    text-align: center;
    line-height: 1.61;
  }
}
.main-logo__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  background: var(--blue);
  box-shadow: 0px 4px 4px var(--shadowbox);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 114px;
  border: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-logo__button {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-size: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-logo {
    background-image: url(../images/mobile/bg-image1x.jpg);
    display: block;
    height: 400px;
    max-width: 480px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
}
.our-profile {
  list-style: none;
  display: flex;
  gap: 30px;
}
.our-profile__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.our-profile__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}
.our-profile__describtion {
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  padding-top: 10px;
  text-transform: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-profile {
    max-width: 480px;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .our-profile__icon {
    width: 450px;
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;
    background: #f5f4fa;
    border-radius: 4px;
  }
  .our-profile__title {
    text-align: center;
  }
  .our-profile__describtion {
    padding-left: 15px;
  }
}
.work {
  font-size: 36px;
  line-height: 1, 17;
  padding-bottom: 50px;
  text-align: center;
}

.work-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.work-list__photo {
  position: relative;
  overflow: hidden;
}
.work-list__photo .work-list__title {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 370px;
  background-color: var(--workcard);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding: 27px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .work-list {
    display: none;
  }
  .work {
    display: none;
  }
}
.team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.team-list__photo {
  background: var(--white);
  box-shadow: 0px 1px 3px var(--shadowport3), 0px 1px 1px var(--shadowport3), 0px 2px 1px var(--shadowport1);
  border-radius: 0px 0px 4px 4px;
  margin-top: 47px;
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}
.team-list__place {
  color: var(--grey);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: none;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    text-align: center;
    max-width: 480px;
    padding-left: 15px;
  }
  .team {
    max-width: 480px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0px;
    font-size: 28px;
  }
  .team-list__photo {
    width: 450px;
    height: 460px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
.social-icon {
  list-style: none;
  display: flex;
  margin-left: 32px;
  margin-bottom: 30px;
  gap: 10px;
  fill: var(--social);
}
.social-icon__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  display: block;
  background: var(--socialmedia);
}
.social-icon__link:hover, .social-icon__link:focus {
  fill: var(--white);
  background: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  fill: var(--white);
  padding-left: 70px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .social-icon {
    justify-content: center;
    gap: 22px;
    margin-left: 0px;
  }
}
.customer {
  list-style: none;
  display: flex;
  fill: var(--social);
  gap: 30px;
}

.customer__icon {
  width: 170px;
  height: 92px;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.customer__icon--last {
  width: 170px;
  height: 92px;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.customer__icon:hover, .customer__icon:focus {
  fill: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .customer {
    max-width: 480px;
    flex-wrap: wrap;
    padding-left: 15px;
  }
  .customer__icon {
    width: 210px;
  }
  .customer__icon--last {
    width: 210px;
  }
}
.page-footer {
  font-size: 14px;
  color: var(--foot);
  padding: 60px;
  background: var(--second);
}
.page-footer__social {
  display: flex;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address a {
  font-weight: 500;
  color: var(--grey);
  text-decoration: none;
  font-size: 14px;
}
.address__location {
  padding-top: 20px;
}

.address__list {
  list-style: none;
}
.address__list--mail .address__list--tel {
  padding-top: 9px;
}
.address__list--font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--foot);
}

.invite {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  padding-left: 70px;
}
.subscribe__img {
  position: absolute;
  fill: var(--white);
  right: 24px;
  top: 13px;
}
.subscribe__mail {
  margin-left: 68px;
  background-color: var(--second);
  padding: 16px 15px;
  width: 358px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--shadowbox));
  border-radius: 4px;
}
.subscribe--text {
  position: absolute;
  left: 42px;
  top: 10px;
}
.subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  background: var(--blue);
  box-shadow: 0px 4px 4px var(--shadowbox);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  position: absolute;
  margin-bottom: 104px;
}

.background {
  padding: 94px;
}

.portfolio-btn {
  list-style: none;
  display: flex;
  justify-content: center;
}
.portfolio-btn__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--third);
  border-radius: 4px;
  margin-left: 8px;
  border-style: none;
  padding: 6px 22px;
}
.portfolio-btn__btn:hover, .portfolio-btn__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  transition-duration: 2250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px var(--shadowport1), 0px 1px 2px var(--shadowport2), 0px 2px 2px var(--shadowport3);
  cursor: pointer;
}

.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__overlay:hover {
  transform: translateX(0);
}
.portfolio__overlay--text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
  width: 301px;
}
.portfolio .portfolio__card {
  position: relative;
  overflow: hidden;
  display: flex;
  background: var(--white);
}
.portfolio__overlay {
  background: var(--blue);
  position: absolute;
  padding: 49px 45px 49px 24px;
  top: 0;
  left: 0;
  height: 100%;
  margin-bottom: 110px;
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover .portfolio__overlay {
  transform: translatey(0);
}

.portfolio__card {
  display: flex;
  margin-top: 56px;
  background: var(--white);
  position: absolute;
}
.portfolio__card--position {
  border-left: 1px solid var(--fourth);
  border-right: 1px solid var(--fourth);
  border-bottom: 1px solid var(--fourth);
  padding: 20px 24px;
  position: relative;
  background-color: var(--white);
}
.portfolio__card--name {
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--dark);
}
.portfolio__card--disc {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 8px;
}
.portfolio__card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px var(--shadowbox), 0px 4px 4px var(--shadowport2), 1px 4px 6px var(--shadowport3);
  transition-duration: 2250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 1024px;
  left: 0px;
  top: 0px;
  transition: opacity 250ms linear, visibility 250ms linear scale(1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--shadowport1);
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  box-shadow: 0px 1px 3px var(--shadowport3), 0px 1px 1px var(--shadowport3), 0px 2px 1px var(--shadowport1);
  border-radius: 4px;
}
.modal--header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
  padding-bottom: 12px;
}
.modal__name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey);
  padding-bottom: 4px;
  position: relative;
}
.modal__place {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--modalbord);
  border-radius: 4px;
  padding-left: 42px;
}
.modal__place:valid {
  color: green;
}
.modal__place:invalid {
  color: red;
}
.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid var(--modalbord);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 16px 12px;
}
.modal__icon-people {
  color: var(--black);
  position: absolute;
  left: 15px;
  top: 28px;
}
.modal__icon-telephone {
  color: var(--black);
  position: absolute;
  left: 14.27px;
  top: 30.23px;
}
.modal__icon-envelope {
  color: var(--black);
  position: absolute;
  left: 13.5px;
  top: 29px;
}
.modal__checkmark {
  top: 4px;
  left: 14px;
  cursor: pointer;
  border-radius: 2px;
  background-color: var(--white);
  border: 2px solid black;
  position: absolute;
  width: 15px;
  height: 16px;
}
.modal__checkmark--icon {
  height: 16px;
  width: 15px;
  visibility: hidden;
  fill: var(--white);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white);
  border: 1px solid var(--shadowport1);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.modal__button--close {
  position: absolute;
  width: 11px;
  height: 11px;
  right: 8px;
  top: 8px;
}
.modal__button:hover {
  border: 1px solid var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  transition: 250ms;
}
.modal__button:hover svg {
  fill: var(--blue);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-form {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--shadowbox);
  border-radius: 4px;
  border: none;
  margin: 0px 124px 0px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
}

.text-area {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal);
  resize: none;
}

input:focus + .modal__icon-people,
input:focus + .modal__icon-telephone,
input:focus + .modal__icon-envelope,
textarea,
input {
  fill: var(--blue);
  outline-color: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  display: block;
  position: relative;
  cursor: pointer;
}
.modal__checkbox-text {
  width: 400.62px;
  height: 24px;
  left: 612.38px;
  top: 658px;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-left: 38px;
  cursor: default;
}

.modal__checkbox input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.modal__checkbox input:checked ~ .modal__checkmark .modal__checkbox--icon {
  background-color: var(--blue);
  border: none;
  border-radius: 2px;
  visibility: visible;
  position: absolute;
  top: -2px;
  left: -2px;
}

.rules-policy {
  color: var(--blue);
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}/*# sourceMappingURL=main.css.map */