.main-logo {
  background-image: linear-gradient(var(--title), var(--title)),
    url(../images/people.jpg);
  padding: 94px;
  background-color: var(--second);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 0px;
    margin-bottom: 30px;
    padding-top: 104px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 22px;
      padding-top: 10px;
      margin-left: 0px;
      text-align: center;
      line-height: 1.61;
    }
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    background: var(--blue);
    box-shadow: 0px 4px 4px var(--shadowbox);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 114px;
    border: none;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 200px;
      height: 50px;
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-logo {
    background-image: ulinear-gradient(to right, #2f303a66 100%, #2f303a66 100%)
      url(../images/mobile/bg-image1x.jpg);
    display: block;
    height: 400px;
    max-width: 480px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-logo {
      background-image: linear-gradient(
          to right,
          #2f303a66 100%,
          #2f303a66 100%
        ),
        url(../images/mobile/bg-image2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-logo {
    height: 400px;
    max-width: 768px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    background-image: ulinear-gradient(to right, #2f303a66 100%, #2f303a66 100%)
      url(../images/tablet/bg-image1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-logo {
      background-image: linear-gradient(
          to right,
          #2f303a66 100%,
          #2f303a66 100%
        ),
        url(../images/tablet/bg-image2x.jpg);
    }
  }
  .main-logo__text {
    width: 360px;

    height: 84px;
    font-size: 22px;
    padding-top: 10px;
    margin-left: 100px;

    line-height: 1.61;
  }
  .main-logo__button {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    margin-right: 640px;
  }
}
@media screen and (min-width: 1200px) {
  .main-logo {
    background-image: linear-gradient(var(--title), var(--title)),
      url(../images/desktop/d0img1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .main-logo {
      background-image: linear-gradient(var(--title), var(--title)),
        url(../images/desktop/d0img2x.jpg);
    }
  }
}
