.page-footer {
  font-size: 14px;
  color: var(--foot);
  padding: 60px;
  background: var(--second);
  &__social {
    display: flex;
  }
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  & a {
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    font-size: 14px;
  }
  &__location {
    padding-top: 20px;
  }
}

.address__list {
  list-style: none;
  &--mail &--tel {
    padding-top: 9px;
  }
  &--font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: var(--foot);
  }
}

.invite {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  padding-left: 70px;
  &__img {
    position: absolute;
    fill: var(--white);
    right: 24px;
    top: 13px;
  }
  &__mail {
    margin-left: 68px;
    background-color: var(--second);
    padding: 16px 15px;
    width: 358px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px var(--shadowbox));
    border-radius: 4px;
  }
  &--text {
    position: absolute;
    left: 42px;
    top: 10px;
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    background: var(--blue);
    box-shadow: 0px 4px 4px var(--shadowbox);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    position: absolute;
    margin-bottom: 104px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-footer {
    text-align: center;
    max-width: 480px;
    margin-top: 30px;
  }
  .page-footer__social {
    flex-direction: column;
    gap: 40px;
  }
  .address__list {
    margin-top: 13px;
    padding-top: 10px;
  }
  .subscribe {
    padding-left: 0px;
  }
  .invite {
    padding-left: 0px;
  }
  .subscribe__mail {
    margin-left: -45px;
    margin-bottom: 20px;
    width: 450px;
  }
  .subscribe__button {
    position: relative;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .page-footer__social {
    width: 768px;
    flex-wrap: wrap;
  }
  .page-footer {
    width: 768px;
  }
  .subscribe {
    padding-left: 193px;
  }
  .subscribe__mail {
    margin-left: 126px;
    position: absolute;
  }
  .subscribe__button {
    position: relative;
    margin-left: 205px;
    margin-top: 80px;
    margin-bottom: 0px;
  }
}
