* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 1600px;
  color: var(--dark);

  font-size: 16px;
  font-family: "Roboto", "Raleway", sans-serif;
}

:root {
  --first: #ececec;
  --blue: #2196f3;
  --dark: #212121;
  --black: #000000;
  --grey: #757575;
  --white: #ffffff;
  --second: #2f303a;
  --third: #f5f4fa;
  --fourth: #eeeeee;
}
