.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &-team {
    padding: 94px;
    background: var(--third);
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .section {
    padding: 0px;
  }
  .section-team {
    max-width: 480px;
  }
}
