:root {
  --first: #ececec;
  --blue: #2196f3;
  --dark: #212121;
  --black: #000000;
  --grey: #757575;
  --white: #ffffff;
  --second: #2f303a;
  --third: #f5f4fa;
  --fourth: #eeeeee;
  --lightgray: #afb1b8;
  --title: rgba(47, 48, 58, 0.4);
  --shadowbox: rgba(0, 0, 0, 0.15);
  --foot: rgba(255, 255, 255, 0.6);
  --shadowport1: rgba(0, 0, 0, 0.1);
  --shadowport2: rgba(0, 0, 0, 0.08);
  --shadowport3: rgba(0, 0, 0, 0.12);
  --workcard: rgba(47, 48, 58, 0.8);
  --modalbord: rgba(33, 33, 33, 0.2);
}
