.js-menu-container {
  width: 480px;
  height: 796px;
  border: none;
  padding-left: 40px;
  z-index: 999;
  background: var(--white);
  transform: translateX(0);
  visibility: hidden;
  transition-property: transform, visibility;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
}
.js-menu-container .is-open {
  transform: translateX(100%);
}
.is-open {
  visibility: visible;
}
.js-close-menu {
  background: var(--white);
  border: none;
}
.js-open-menu {
  background: var(--white);
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.menu__button-icon {
  fill: var(--black);
  border: none;
  height: 18.666669845581055px;
  width: 18.666669845581055px;
  margin-top: 21px;
  margin-left: 396px;
  margin-right: 25.33px;
  &:hover,
  &:focus {
    fill: var(--blue);
  }
}
.menu__button-icon:hover svg,
.menu__button-icon:focus svg {
  fill: var(--blue);
}
.mobile-nav__item {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--blue);
  }
}
.mobile-nav__item:first-child {
  padding-top: 18px;
}

.mobile-nav__item:nth-child(3) {
  padding-top: 36px;
}

.menu__contact {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;

  &--tel {
    font-size: 34px;
    line-height: 1.176;
    color: var(--black);
    padding-top: 302px;
  }
  &--tel:hover,
  &--mail:hover {
    color: var(--blue);
  }
  &--mail {
    font-size: 24px;
    line-height: 1.167;
    color: var(--black);
    padding-top: 32px;
    padding-bottom: 64px;
  }
}

.menu__socials {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.menu__socials--item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--black);
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #21212133;
  &--first {
    padding-left: 0px;
  }
  &--last {
    border-right: none;
  }
}
.menu__socials--item:hover,
.menu__socials--item:focus {
  color: var(--blue);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu__open-btn {
    margin-left: 260px;
  }
  .menu__open-btn:hover {
    fill: var(--blue);
  }
}
